<div class="container">
    <label for="mail">E-mail</label>
    <input type="text" name="mail"><br>
    <label for="subject">Choississez le sujet de votre demande : </label>
    <select name="subject">
        <option value="">Je voudrais commander un livre</option>
        <option value="">J'ai une question</option>
        <option value="">J'ai une suggestion</option>
        <option value="">Autre</option>
    </select>
    <label for="message">Votre message</label><br>
    <textarea name="message" rows="5"></textarea>
</div>