<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Boutique Loteyi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/products">Boutique</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                <li class="nav-item"><btn class="btn btn-custom" id="login" routerLink="/login">Se connecter</btn></li>
                <li class="nav-item"><btn class="btn btn-custom" id="compte" routerLink="/account">Mon Compte</btn></li>
                <li class="nav-item"><btn class="btn btn-custom" id="panier" routerLink="/cart"><i class="bi bi-cart"></i></btn></li>
                <li class="nav-item"><button class="btn btn-custom" id="disconnect" (click)="disconnect()"><i class="bi bi-box-arrow-right"></i></button></li>
            </ul>
        </div>
    </div>
</nav>