<p>admin works!</p>
<table>
    <tr *ngFor="let pist of Mylist">
        <td>
            {{pist.Id}}
        </td>
        <td>
            {{pist.Nom}}
        </td>
        <td>
            {{pist.Prenom}}
        </td>
        <td>
            {{pist.Password}}
        </td>
        <td>
            {{pist.Mail}}
        </td>
<div>

    <button (click)="create()">CREATE CLIENT</button>
</div>
MESSAGE{{message}}

<div>

    <button (click)="delete(pist)">DELETE CLIENT</button>
</div>
MESSAGE{{message}}

<div>

    <button (click)="update()">UPDATE CLIENT</button>
</div>
MESSAGE{{message}}
    </tr>

</table>
