<div class="row justify-content-center align-items-center">
    <div class="login-container container-custom mt-5">
        <div class="login-card">
            <div class="login-header">
                <h2>Connexion</h2>
            </div>
            <form class="login-form" id="loginForm" novalidate>
                <div class="form-group">
                    <div class="input-wrapper">
                        <input type="text" id="email" name="email" required autocomplete="email" [(ngModel)]="mail">
                        <label for="email">Adresse mail</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-wrapper password-wrapper">
                        <input type="password" id="password" name="password" required autocomplete="current-password" [(ngModel)]="password">
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
                <button type="submit" class="login-btn" (click)="connexion()">
                    <span class="btn-text">Se connecter</span>
                </button>
            </form>
            <div class="login-result">
                <span id="message">{{message}}</span>
            </div>
            <br>
            <div class="signup-link">
                <p>Vous n'avez pas de compte ? <a routerLink="/signup">Créer un compte</a></p>
            </div>
            <div class="signup-link">
                <p>Vous êtes admin ? <a routerLink="/loginadmin">Se connecter en tant qu'admin</a></p>
            </div>
        </div>
    </div>
</div>
