<div class="container mt-5 custom-livre-list">
  <h2 class="mb-4 text-center">Gestion des Livres</h2>

  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-primary" (click)="onCreate()">
      <i class="bi bi-plus-circle"></i> Ajouter un livre
    </button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <table class="table table-striped table-hover" *ngIf="livres.length">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Prix (€)</th>
        <th>ISBN</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of livres">
        <td>{{ livre.Id }}</td>
        <td>{{ livre.Titre }}</td>
        <td>{{ livre.Categorie }}</td>
        <td>{{ livre.Prix|  number:'1.2-2' }} €</td>
        <td>{{ livre.Isbn }}</td>
        <td>
          <button class="btn btn-info btn-sm me-2" (click)="router.navigate(['/admin/livres/detail', livre.Id])">
            <i class="bi bi-eye"></i>
          </button>
          <button class="btn btn-warning btn-sm me-2" (click)="onEdit(livre.Id)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(livre.Id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="livres.length === 0" class="alert alert-info text-center">
    Aucun livre trouvé.
  </div>
</div>
